/* General styling rules */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: #fff5ee;
  background-color: #000;
  opacity: 0.9;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff5ee;
}

/* header styles */

header {
  top: 0;
  width: 100%;
  height: 69px;
  background-color: #000;
  border-bottom: 1px solid #fff5ee;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav {
  margin-right: 15px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

header a {
  color: #fff5ee;
  text-decoration: underline;
}

/* main styles */

main {
  position: relative;
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* mission section styles */

.mission {
  width: 1200px;
  height: 700px;
  background-image: url("images/img-mission-background.jpg");
  display: flex;
  align-items: center;
}

.overlay {
  width: 1200px;
  background-color: #000;
}

/* featured tea styles */

.tea-of-the-month {
  width: 1000px;
  position: relative;
  margin-top: 69px;
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.gallery img {
  width: 300px;
  height: 200px;
}

.picture-box {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.picture-box h4 {
  margin: 10px;
}

/* location styles */

.location {
  position: relative;
  top: 50px;
  width: 1200px;
  height: 795px;
  background-image: url("images/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location-headline {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.location-headline h2 {
  margin: 0;
}

.location-blox {
  height: 445px;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.blox {
  width: 300px;
  margin: 0 20px;
  background-color: #000;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h3, span {
  margin: 20px 0;
}

.contact {
  width: 1200px;
  height: 200px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

#contact-link {
  color: #fff5ee;
  text-decoration: none;
  /* sry, just couldn't help it ;-) */
}
